.color {
    padding-top: 180px;
    padding-bottom: 150px;
}

.color__header {
    margin-bottom: 60px;
}

.color__title {
    text-align: center;
    color: rgb(113, 113, 113);
    font-size: 32px;
    font-weight: 700;
    line-height: calc(39 / 32);
}

.color__cards {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 80px;
}