.page {
  max-width: 1200px;
  margin-inline: auto;
}

.title {
  text-align: center;
}

.block {
  margin-top: 3rem;
}

.inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2rem;
}

.choose {
}