.header {
    background: rgb(10, 10, 10);
    padding: 42px 0px 42px;
}

.header__row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
}

.header__nav ul {
    display: flex;
    align-items: center;
    gap: 130px;
}

.header__nav .nav a {
    color: #fff;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}