.volume {
    background: rgb(13, 13, 13);
    margin-top: 130px;
    padding: 160px 0;
    color: #fff;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.volume_title {
    text-align: center;
    font-size: 58px;
    font-weight: 400;
    line-height: 71.34px;
    letter-spacing: 0.56px;
}

.cards_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0px 45px;
}