.sponsors {
    background: rgb(13, 13, 13);
    padding: 120px 0;
}

.sponsors_inner {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 45px;
}

.sponsors_title {
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 500;
    line-height: 34.99px;
    letter-spacing: 0.23px;
}

.sponsors_list {
    display: flex;
    align-items: center;
    gap: 100px;
}

.sponsors_text {
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    line-height: 22.61px;
    letter-spacing: 0.23px;
}