.treatwell {
    background: rgb(78, 94, 255);
    border-radius: 16px;
    padding: 150px 200px;
    position: relative;
    color: #fff;
    display: flex;
    flex-direction: column;
}

.treatwell_logo {
    margin-bottom: 40px;
}

.treatwell_text {
    font-size: 42px;
    font-weight: 400;
    line-height: 51.65px;
    letter-spacing: 0.81px;
    margin-bottom: 95px;
}

.treatwell_zapat {
    position: absolute;
    top: 28%;
    left: 120px;
}

.treatwell_zapat_1 {
    position: absolute;
    right: 49%;
    top: 54%;
}

.name {
    font-size: 24px;
    font-weight: 400;
    line-height: 39.99px;
    letter-spacing: 0.16px;
}

.name_info {
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0.16px;
}