.header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  color: #fff;
  height: 30px;
  width: 100%;
  border-bottom: 1px solid #696969;
  background: #08010C;
}

.header__title {
  margin: 0;
  font-size: .75rem;
  font-weight: bold;
  padding-left: 1rem;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__btns {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 76px;
  margin: 0;
}

.header__close,
.header__collapse {
  width: 38px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header__close:hover {
  background: #804AE4;
}

.header__close {
  transition: .4s;
}

.header__collapse {
  transition: .4s;

}

.collapse {
  font-size: 25px;
  transition: .1s;
}

.close {
  transition: .4s;
}

.collapse:hover {
  font-size: 30px;
}

.close:hover {
  transform: rotate(90deg);
  color: #000;
}

.header__collapse:hover {
  background: hsl(228, 4%, 25%);
}
