.choice {
    background: rgb(245, 245, 247);
    padding: 71px 0 40px;
}

.choice__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.choice__title {
    color: #6518A9;
    font-size: 64px;
    font-weight: 700;
    line-height: calc(77 / 64);
}

.choice__btn {
    padding: 20px 118px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: 700;
    line-height: calc(29 / 24);
    border-radius: 30px;
    background: #6518A9;
}